body{
    background-color: aqua;

}

#Content{
    width: 980px;
   background-color: mintcream;
    margin-left: 20%;
}
header{
    display: flex;
    align-items:center;
    color: white;
    background-color: blue;
}
aside{
 
    margin-right: 82%;
    background-color: blue;
}

h1 {
    color: white;
}
ul{
   list-style-type: none; 
}
a{

    text-decoration: none;
    
}
a:hover{
    text-decoration: underline;
}
ul a {
    color: white;
}

form {
    color: white;
}

main{
    color: blue;
    background-color: #ADD8E6;
}
#central{
  position: absolute;
  top: 150px;
  width: 700px;
  float: right;
  margin-left: 200px;
  background-color: mintcream;
}
.aligned { 
    display: flex; 
    align-items: center; 
    background-color: blue;
    backface-visibility: 0.5;
} 
   
span { 
    padding: 10px; 
} 
#esquerda{
position: absolute;
  top: 480px;
  width: 200px;
  float: right;
  margin-right: 100px;
  background-color: mintcream;
}
#meio{
    position: absolute;
    top: 10px;
  bottom: 1px;
  width: 200px;
  float: right;
  margin-left: 200px;
  background-color: mintcream;
  color: black;
}
#direita{
    position: absolute;
  top: -15px;
  bottom: 0px;
  width: 380px;
  float: right;
  margin-left: 200px;
  background-color: mintcream;
}
#direita ul a{
    color: blue;
}
#hist{
    width: 780px;
    background-color: mintcream;
}
#esquerda h3{
    color: blue;
}
#meio h3{
    color: blue;
}
#hist p{
    color: blue;
}